@supports (display: grid) and (width: fit-content) and (user-select: none) {
  html > body {
    --offwhite: white;
    --offblack: #212121;
    background-color: var(--offwhite);
    width: 100vw;
    height: 100vh;
    font-family: "Cartograph CF", sans-serif;
    font-variant-ligatures: contextual;
    font-size: 0.8rem;
    user-select: none;
  }
  html > body,
  html > body *:not(script, style, head, meta) {
    display: grid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: transparent;
    border: none;
  }
  html > body > form {
    width: 100vw;
    height: 100vh;
  }
  html > body > form > input {
    display: none;
  }
  html > body > form > hr {
    align-self: center;
    justify-self: center;
    width: 100%;
  }
  html > body > form div,
  html > body > form label {
    display: grid;
    padding: 0.5rem;
  }
  html > body > form hr {
    color: var(--offwhite);
    background-color: var(--offblack);
  }
  html > body > form div.black-box,
  html > body > form label {
    color: var(--offblack);
    background-color: var(--offwhite);
  }
  html > body > form label {
    cursor: pointer;
    text-align: center;
    width: 2.5rem;
    height: 2rem;
    align-self: start;
    justify-self: end;
    align-items: center;
    justify-items: center;
  }
}
