@use "./tabs" as tabs;
@use "./globals" as g;
@use "./tab-bar" as bar;
@namespace svg url(http://www.w3.org/2000/svg);

@supports (display: grid) and (width: fit-content) and (user-select: none) and (content-visibility: hidden) {
  @include g.variables;
  html>body{
    >form#prog-state {
        display: none;
    }
    >form#ui {
      @include bar.format;
      @include bar.indicator;
      >div#tool-box {
        contain: strict;
        grid-column: 1 / -1;
        grid-row: 3 / span 1;
        grid-template: 1 / 1;
        >div {
          grid-area: 1 / 1;
          contain: strict;
          content-visibility: hidden;
          z-index: 1;
          &#ap {
            @include tabs.add-path;
          }
        }
      }
    }
  }
}
