@mixin add-path {
    >div#ap-wp {
        display: grid;
        grid-template: 1fr / 1fr;
        padding: 0;
        border: 0.1rem var(--offblack) solid;
        >svg {
            width: 100%;
            height: 100%;
            margin: 0;
            >svg|path {
                will-change: d;
                transform: translateZ(0);
                d: path(var(--current-working-path));
                stroke: black;
                stroke-width: 0.2rem;
                stroke-linecap: round;
                fill: none;
            }
        }
    }
}
