@supports (display: grid) and (width: fit-content) and (user-select: none) {
    html>body {
        --offwhite: #f5f5f5;
        --offblack: #212121;

        width: 100vw;
        height: 100vh;
        display: grid;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border-color: transparent;
        border: none;

        font-family: "Cartograph CF", sans-serif;
        font-variant-ligatures: contextual;
        font-size: 0.8rem;
        user-select: none;

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border-color: transparent;
            border: none;
        }

        >input.data {
            display: none;
        }

        hr {
            width: 100%;
            height: 0.2rem;
        }

        div,
        label,
        main {
            display: grid;
        }

        div,
        label {
            padding: 0.5rem;
        }


        div.black-box,
        label.black-box,
        label.white-box.clickable:hover:not(:active) {
            color: var(--offwhite);
            background-color: var(--offblack);
        }

        hr,
        div.white-box,
        label.white-box,
        label.black-box.clickable:hover:not(:active) {
            color: var(--offblack);
            background-color: var(--offwhite);
        }

        label.clickable {
            cursor: pointer;
            text-align: center;
            width: 2.5rem;
            height: 2rem;
            align-self: start;
            justify-self: end;
            align-items: center;
            justify-items: center;
        }
    }
}
